In [14]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn import metrics
import datetime

In [70]:
df = pd.read_csv("difficulty.csv", sep=',')
dates = pd.to_datetime(df['Timestamp'])
df['Date'] = [dt.date() for dt in dates]
df['Date'] = pd.to_datetime(df['Date'])
print(df['Date'])

0      2009-01-02
1      2009-01-05
2      2009-01-08
3      2009-01-11
4      2009-01-14
          ...
1481   2021-03-04
1482   2021-03-07
1483   2021-03-10
1484   2021-03-13
1485   2021-03-16
Name: Date, Length: 1486, dtype: datetime64[ns]

In [69]:
begin_date = '2013-04-29'
end_date= '2021-01-21'
df_new = pd.DataFrame({'Date':pd.date_range(begin_date, end_date)})
print(df_new['Date'])

0      2013-04-29
1      2013-04-30
2      2013-05-01
3      2013-05-02
4      2013-05-03
          ...
2820   2021-01-17
2821   2021-01-18
2822   2021-01-19
2823   2021-01-20
2824   2021-01-21
Name: Date, Length: 2825, dtype: datetime64[ns]

In [84]:
df_merge_col = pd.merge(df_new, df, on='Date', how='left')

In [85]:
print(df_merge_col)

           Date            Timestamp    difficulty
0    2013-04-29                  NaN           NaN
1    2013-04-30  2013-04-30 00:00:00  1.007629e+07
2    2013-05-01                  NaN           NaN
3    2013-05-02                  NaN           NaN
4    2013-05-03  2013-05-03 00:00:00  1.007629e+07
...         ...                  ...           ...
2820 2021-01-17                  NaN           NaN
2821 2021-01-18  2021-01-18 00:00:00  2.060742e+13
2822 2021-01-19                  NaN           NaN
2823 2021-01-20                  NaN           NaN
2824 2021-01-21  2021-01-21 00:00:00  2.060742e+13

[2825 rows x 3 columns]

In [96]:
df_merge_col = df_merge_col.fillna(method='bfill')

In [87]:
df = pd.read_csv("hash-rate.csv", sep=',')
dates = pd.to_datetime(df['Timestamp'])
df['Date'] = [dt.date() for dt in dates]
df['Date'] = pd.to_datetime(df['Date'])
print(df['Date'])

0      2009-01-09
1      2009-01-12
2      2009-01-15
3      2009-01-18
4      2009-01-21
          ...
1478   2021-03-02
1479   2021-03-05
1480   2021-03-08
1481   2021-03-11
1482   2021-03-14
Name: Date, Length: 1483, dtype: datetime64[ns]

In [89]:
df_merge_col_hash = pd.merge(df_new, df, on='Date', how='left')
print(df_merge_col_hash)

           Date            Timestamp     hash-rate
0    2013-04-29                  NaN           NaN
1    2013-04-30                  NaN           NaN
2    2013-05-01  2013-05-01 00:00:00  7.522108e+01
3    2013-05-02                  NaN           NaN
4    2013-05-03                  NaN           NaN
...         ...                  ...           ...
2820 2021-01-17                  NaN           NaN
2821 2021-01-18                  NaN           NaN
2822 2021-01-19  2021-01-19 00:00:00  1.502942e+08
2823 2021-01-20                  NaN           NaN
2824 2021-01-21                  NaN           NaN

[2825 rows x 3 columns]

In [98]:
df_merge_col_hash = df_merge_col_hash.fillna(method='ffill')

In [99]:
print(df_merge_col_hash)

           Date            Timestamp     hash-rate
0    2013-04-29  2013-05-01 00:00:00  7.522108e+01
1    2013-04-30  2013-05-01 00:00:00  7.522108e+01
2    2013-05-01  2013-05-01 00:00:00  7.522108e+01
3    2013-05-02  2013-05-04 00:00:00  7.388575e+01
4    2013-05-03  2013-05-04 00:00:00  7.388575e+01
...         ...                  ...           ...
2820 2021-01-17  2021-01-19 00:00:00  1.502942e+08
2821 2021-01-18  2021-01-19 00:00:00  1.502942e+08
2822 2021-01-19  2021-01-19 00:00:00  1.502942e+08
2823 2021-01-20  2021-01-19 00:00:00  1.502942e+08
2824 2021-01-21  2021-01-19 00:00:00  1.502942e+08

[2825 rows x 3 columns]

In [103]:
df_tech = pd.merge(df_merge_col_hash, df_merge_col, on='Date')
print(df_tech)
X = df_tech[['Date', 'hash-rate', 'difficulty']]

           Date          Timestamp_x     hash-rate          Timestamp_y  \
0    2013-04-29  2013-05-01 00:00:00  7.522108e+01  2013-04-30 00:00:00
1    2013-04-30  2013-05-01 00:00:00  7.522108e+01  2013-04-30 00:00:00
2    2013-05-01  2013-05-01 00:00:00  7.522108e+01  2013-05-03 00:00:00
3    2013-05-02  2013-05-04 00:00:00  7.388575e+01  2013-05-03 00:00:00
4    2013-05-03  2013-05-04 00:00:00  7.388575e+01  2013-05-03 00:00:00
...         ...                  ...           ...                  ...
2820 2021-01-17  2021-01-19 00:00:00  1.502942e+08  2021-01-18 00:00:00
2821 2021-01-18  2021-01-19 00:00:00  1.502942e+08  2021-01-18 00:00:00
2822 2021-01-19  2021-01-19 00:00:00  1.502942e+08  2021-01-21 00:00:00
2823 2021-01-20  2021-01-19 00:00:00  1.502942e+08  2021-01-21 00:00:00
2824 2021-01-21  2021-01-19 00:00:00  1.502942e+08  2021-01-21 00:00:00

        difficulty
0     1.007629e+07
1     1.007629e+07
2     1.007629e+07
3     1.007629e+07
4     1.007629e+07
...            ...
2820  2.060742e+13
2821  2.060742e+13
2822  2.060742e+13
2823  2.060742e+13
2824  2.060742e+13

[2825 rows x 5 columns]

In [108]:
print(X)
X.to_csv('Technology.csv',index=False)

           Date     hash-rate    difficulty
0    2013-04-29  7.522108e+01  1.007629e+07
1    2013-04-30  7.522108e+01  1.007629e+07
2    2013-05-01  7.522108e+01  1.007629e+07
3    2013-05-02  7.388575e+01  1.007629e+07
4    2013-05-03  7.388575e+01  1.007629e+07
...         ...           ...           ...
2820 2021-01-17  1.502942e+08  2.060742e+13
2821 2021-01-18  1.502942e+08  2.060742e+13
2822 2021-01-19  1.502942e+08  2.060742e+13
2823 2021-01-20  1.502942e+08  2.060742e+13
2824 2021-01-21  1.502942e+08  2.060742e+13

[2825 rows x 3 columns]